.navwrapper {
  display: flex;
  vertical-align: baseline;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 20;
  width: 100%;
  backdrop-filter: blur(10px);
}

.name {
  font-size: large;
  font-weight: bolder;
  z-index: 20;
  display: inline-block;
  position: relative;
  background-color: transparent;
  color: light-dark(#000, #fff);
}

.typewriter h1 {
  color: black;
  overflow: hidden;
  border-right: 0.15em solid orange;
  white-space: nowrap;
  margin: 20px;
  letter-spacing: 0.1em;
  animation: typing 3.5s steps(35, end), blink-caret 0.5s step-end;
}

.page__links {
  display: flex;
  vertical-align: middle;
  justify-content: space-around;
  height: max-content;
}
.page__links {
  a,
  a:active,
  a:visited {
    text-decoration: none;
    margin: 0px 40px;
    font-size: x-large;
    font-weight: bolder;
    color: black;
  }
}
.page__links a:after {
  content: "";
  display: block;
  margin-top: 2px;
  height: 3px;
  width: 0px;
  background: transparent;
  transition: width 0.5s ease, background-color 0.5s ease;
}
.page__links a:hover:after {
  width: 100%;
  background: rgb(4, 115, 125);
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
  100% {
    border-color: transparent;
  }
}

@keyframes initialAnimation {
  from {
    height: 100%;
  }
  to {
    height: fit-content;
  }
}

@keyframes convert {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@media screen and (max-width: 600px) {
  .page__links {
    display: none;
  }
  .navwrapper {
    display: grid;
    justify-content: center;
    height: 100vh;
    align-items: center;
    animation: convert 10s 1s ease forwards;
    width: 100%;
    background-color: aqua;
  }
  .name h1,
  .typewriter h1 {
    width: 100%;
    justify-content: center;
    font-size: large;
  }
}
